*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/






/*css*/

.header_top{
    background-color: aquamarine;
    padding: 10px;

}

/*QUI COMINCIA HEADER TOP*/

.nav{
    display: flex;
    justify-content: center;
    background-color: yellow;
    height: auto;
    width: 1170px;
    margin: auto;

}

.tratteggiato{
    border: 3px dashed black;
    padding: 15px;
}

.logo.tratteggiato{
    width: 20%;
}

ul{
    display: flex;
    justify-content: center;
    width: 60%;
    list-style: none;
}


li{
    display: inline-block;
    margin: 0px 10px;
    
}

.login{
    width: 20%;
    text-align: right;
}

/*QUI COMINCIA HEADER BOT*/

.header_bot{
    display: flex;
    background-color: blue;
    justify-content: center;
    padding: 40px
   
}

.container{
    height: 400px;
    width: 800px;
    background-color: pink;

}

/*QUI COMINCIA MAIN*/

section{
    padding: 30px 0px;
}

.schemi{
    display: flex;
    width: 1170px;
    margin: auto;
    }


.immagine{
    height: 400px;
    width: 60%;
    background-color: lightblue;
}

.descrizione{
    height: 400px;
    width: 40%;
    background-color: green;
}

.grigio{
    background-color: lightgray;
}

.contenuti{
    height: 500px;
    width: 1170px;
    margin: auto;
    background-color: lightgreen;
}


/*QUI COMINCIA FOOTER*/


.footertop{
    background-color: black;
    margin-bottom: 3px;
}

.flex-box{
    display: flex;
    height: 500px;
    width: 1170px;
    margin:  auto;
}

.posto{
    background-color: lightcoral;
    width: 40%;
    margin: 5px 0px 20px;
}

.altro{
    background-color: darkcyan;
    width: 20%;
    margin: 5px 0px 20px;
    
}

.footerbot{
    background-color: black;
    margin-bottom: 3px;
    padding-top: 20px;
} 

.registrazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    background-color: turquoise;
    
    
}

.logobot{
    background-color: antiquewhite;
    padding: 5px;
    margin: 10px 0px;
}

.bottone{
    background-color: antiquewhite;
    padding: 5px;
    margin: 10px 0px;
}