*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/






/*css*/

.header_top{
    background-color: aquamarine;
    padding: 10px;

}

/*QUI COMINCIA HEADER TOP*/

.nav{
    display: flex;
    justify-content: center;
    background-color: yellow;
    height: auto;
    width: 1170px;
    margin: auto;

}

.tratteggiato{
    border: 3px dashed black;
    padding: 15px;
}

.logo.tratteggiato{
    width: 20%;
}

ul{
    display: flex;
    justify-content: center;
    width: 60%;
    list-style: none;
}


li{
    display: inline-block;
    margin: 0px 10px;
    
}

.login{
    width: 20%;
    text-align: right;
}

/*QUI COMINCIA HEADER BOT*/

.header_bot{
    display: flex;
    background-color: blue;
    justify-content: center;
    padding: 40px
   
}

.container{
    height: 400px;
    width: 800px;
    background-color: pink;

}

/*QUI COMINCIA MAIN*/

section{
    padding: 30px 0px;
}

.schemi{
    display: flex;
    width: 1170px;
    margin: auto;
    }


.immagine{
    height: 400px;
    width: 60%;
    background-color: lightblue;
}

.descrizione{
    height: 400px;
    width: 40%;
    background-color: green;
}

.grigio{
    background-color: lightgray;
}